@using Ankand.Data.ViewModels;
@model Ankand.Data.ViewModels.PostDetailsViewModel;

@{
    ViewData["Tittle"] = "Details of product";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Produkti.Name</h1>
        </p>
        <div class="card mb-12">
            <div class="row g-0">
                <form asp-action="Details">
                    <div class="form-group text-center">
                        <img src="@Model.Produkti.ImageURL" width=200 alt="@Model.Produkti.Name">
                    </div>
                    <div class="col-md-8">
                        <dic class="card-body">
                            <p class="card-text"><b>Title: </b>@Model.Produkti.Name</p>
                            <p class="card-text"><b>Description: </b>@Model.Produkti.Description</p>
                            <p class="card-text"><b>Price: </b>@Model.Produkti.Price.ToString("c")</p>
                            <p class="card-text"><b>Created On: </b>@Model.Produkti.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@Model.Produkti.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text">
                                <hr />
                                <b>Bids: </b>
                                    <div class="row">
                                    @if (Model.Produkti.Oferta != null)
                                    {
                                        @foreach (var coment in Model.Produkti.Oferta)
                                        {
                                            <div class="column text-left">
                                            <p class="card-text"> <b>@coment.FullName</b><b>:</b> @coment.OfertaPrice.ToString("c")   </p>
                                                <p>@coment.CreatedOn
                                                     @if (!Model.IsCurrentUserCreator)
                                                    {
                                                        <form method="post" asp-action="DeleteConfirmed1">
                                                            <input type="hidden" name="id" value="@coment.ID" />
                                                            <button class="btn btn-danger" type="submit">Delete</button>
                                                        </form>
                                                    }
                                                </p>
                                                @if (Model.Produkti.Oferta.First() == coment)
                                                {
                                                    <p class="card-text">
                                                        <a class="btn btn-success text-white"
                                                           asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@coment.ID">
                                                            <i class="bi bi-cart-plus"></i> Add to Cart (Price @coment.OfertaPrice.ToString("c"))
                                                        </a>
                                                    </p>
                                                }
                                            </div>
                                        }
                                    }
                                    </div>
                            </p>
                        </dic>
                    </div>
                </form>
                @if (!Model.IsCurrentUserCreator)
                {
                    <div class="card-footer">
                        <p class="card-text">
                            <form method="post" asp-action="AddComet">
                                <div class="form-group">
                                    <label for="OfertaPrice">Bids:</label>
                                    <input type="text" class="form-control" id="OfertaPrice" name="OfertaPrice" />
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="ProduktID" value="@Model.Produkti.ID" />
                                </div>
                                <button type="submit" class="btn btn-outline-success float-right">Add Bid</button>
                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                    Back to List
                                </a>
                            </form>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>