@model Produkti


@{
    ViewData["Tittle"] = "Details of product";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details for @Model.Name</h1>
        </p>
        <div class="card mb-12">
            <div class="row g-0">
               @* <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Titulli
                            </h5>
                        </p>
                    </div>
                </div>*@
                <form asp-action="Details">
                    <div class="form-group text-center">
                        <img src="@Model.ImageURL" width=200 alt="@Model.Name">
                    </div>
                    <div class="col-md-8">
                        <dic class="card-body">
                            <p class="card-text"><b>Title: </b>@Model.Name</p>
                            <p class="card-text"><b>Description: </b>@Model.Description</p>
                            <p class="card-text"><b>Created On: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text">
                                <hr />
                                <b>Bids: </b>
                               @* @if (Model.ApplicationUser != null)
                                {*@
                                    <div class="row">
                                    @if(Model.Oferta !=null)
                                    {
                                        @foreach (var coment in Model.Oferta)
                                        {
                                            <div class="column text-left">
                                            <p class="card-text"> <b>@coment.FullName</b><b>:</b> @coment.OfertaPrice.ToString("c")   </p>
                                                <p>@coment.CreatedOn
                                                <form method="post" asp-action="DeleteConfirmed1">
                                                        <input type="hidden" name="id" value="@coment.ID" />
                                                        <button class="btn btn-danger" type="submit">Delete</button>
                                                    </form>
                                                </p>
                                            </div>
                                        }
                                    }
                                    </div>
                               @* }*@
                            </p>
                        </dic>
                    </div>
                </form>
                        <div class="card-footer">
                            <p class="card-text">
                        <form method="post" asp-action="AddComet">
                            <div class="form-group">
                                <label for="OfertaPrice">Bids:</label>
                                <input type="text" class="form-control" id="OfertaPrice" name="OfertaPrice" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="ProduktID" value="@Model.ID" />
                            </div>
                            <button type="submit" class="btn btn-outline-success float-right">Add Bid</button>
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            @*  <a class="btn btn-success text-white"
                            asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="Model.ID">
                            <i class="bi bi-cart-plus"></i> Add to Cart (Price Model.Price.ToString("c"))
                            </a>*@
                        </form>
                            </p>
                        </div>
                
            </div>
        </div>
    </div>
</div>