@using Ankand.Data.ViewModels
@model PostViewModel

@{
    ViewData["Title"] = "Ankand";
}

<div class="row">
    @foreach (var index in Enumerable.Range(0, Model.Products.Count()))
    {
        var item = Model.Products.ElementAt(index);
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (Model.IsCurrentUserCreatorList[index])
                                    {
                                        <a class="text-white float-right" asp-action="Delete" asp-route-id="@item.ID"><i class="bi bi-trash"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <a class="navbar-link" asp-action="Details" asp-route-id="@item.ID" style="text-decoration: underline; color: dodgerblue;"><i class=""></i><b>Name: </b>@item.Name</a>
                            <p class="card-text"><b>Description: </b>@item.Description</p>
                            <p class="card-text"><b>Price: </b>@item.Price.ToString("c")</p>
                            <p class="card-text"><b>Created On: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    }
</div>
